@{ 
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>Patient</strong> Dashboard</h3>
            </div>


        </div>
        <div class="row">
            <div class="col-xl-12 d-flex">
                
            </div>
        </div>

     



    </div>
</main>